#trackView {
  background: #222;
  height: 100%;
  width: 100%;
}

#grid {
  box-sizing: border-box;
  font-size: 2rem; /* 20px; */
  margin: 0 auto;
  max-width: 32rem;
  padding: 1rem;
}
#grid .cell {
  border:
  border-radius: 100%;
  box-sizing: border-box;
  color: #FFF;
  float: left;
  line-height: 2rem;
  text-align: center;
}
#grid .cell .content {
  background: red;
  border-radius: 1rem;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}
#grid .cell .overlay {
  display: none;
  height: 100%;
  width: 100%;
}
#grid .cell.selected .content {
  background: pink;
}
#grid .cell.selected .overlay {
}
#grid .cell.playing .overlay {
  display: block;
}

.clear {
  clear: both;
}
