#grid {
  height: 32rem;
  margin: 0;
  padding: 0;
  width: 32rem;
}
#grid td {
  height: 2rem;
  margin: 0;
  padding: 0;
  width: 2rem;
}
#grid td .cell {
  background: red;
  border-radius: 1rem;
  box-sizing: border-box;
  color: #FFF;
  height: 2rem;
  line-height: 2rem;
  text-align: center;
  width: 2rem;
}
#grid td .cell.active {
  background: pink;
}
