body {
  font-size: 10px;
  background: #222;
  height: 100%;
	margin: 0;
  padding: 0;
  width: 101%;
}

.hide {
  display: none;
}

#trackView {
  height: 100%;
  position: fixed;
  width: 101%;
}
#trackViewInner {
  margin: 0 auto;
  max-width: 32rem;
  padding: 0 0.5rem;
}
#userNameInput {
  border: 0;
  background: rgba(255,255,255,0.1);
  border-radius: 0.5rem;
  color: #AAA;
  display: block;
  font-size: 1.4rem;
  height: 1.8rem;
  margin: 0 auto;
  max-width: 90%;
  outline: none;
  text-align: center;
  width: 100%;
}
